In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from env import host, user, password
from pydataset import data

def get_db_url(user, host, password, db):
    url = f'mysql+pymysql://{user}:{password}@{host}/{db}'
    return url

In [2]:
#1. For each of the following questions, formulate a null and alternative hypothesis
# (be as specific as you can be), then give an example of what a true positive, true negative, 
# type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way.
# It is your job to reword these as more precise questions that could be tested.

# - Has the network latency gone up since we switched internet service providers?
null_hypo = 'The network latency has not changed after switching ISP'
alt_hypo = 'The network latency has increased after switching ISP'
true_pos = 'I believe the network latency has increased and in reality it has increased'
true_neg = 'I believe the network lag has not increased and after test it has not'
type_1 = 'I hypothesized that the network lag has increased but in reality it has not'
type_2 = 'I hypothesized that the network lag has not increased but in reality it has'

# - Is the website redesign any good?
null_hypo = 'The website redesign has not improved' #be more specific
alt_hypo = 'The website redesign has improved'
true_pos = 'The website redesign has improved and everyone likes it'
true_neg = 'The website redesign has not improved and everyone hates it'
type_1 = 'I hypothesized that the website redesign has improved but everyone hates it'
type_2 = 'I hypothesized that the website redesign has not improved but everyone likes it'

# - Is our television ad driving more sales?
null_hypo = 'The tv ad has no impact on sales'
alt_hypo = 'The tv ad has an impact on sales'
true_pos = 'I believe the tv ad has an impact on sales and sales are up'
true_neg = 'I believe the tv ad has no impact on sales and sales are flat'
type_1 = 'I hypothesized that the tv ad has an impact on sales but sales are flat'
type_2 = 'I hypothesized that the tv ad has no impact on sales but sales are up'

In [3]:
#2. Ace Realty wants to determine whether the average time it takes to sell homes is different for its 
# two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days.
# A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. 
# Use a .05 level of significance.

null_hypo = 'The average time it takes to sell a home is not different for both offices'
alt_hypo = 'The average time to sell is different between both offices'
confidence_level = 0.95
a = 1 - confidence_level 

sample1 = 40
mean1 = 90
std1 = 15
sample2 = 50
mean2 = 100
std2 = 20

In [4]:
t,p = stats.ttest_ind_from_stats(mean1,std1,sample1,mean2,std2,sample2)
t,p

(-2.6252287036468456, 0.01020985244923939)

In [5]:
if p < a:
    print("We reject the null hypothesis that they are the same")
    print("We move forward w/ the alternative hypothesis")
else:
    print("We fail to reject the null hypothesis")

We reject the null hypothesis that they are the same
We move forward w/ the alternative hypothesis

In [6]:
null_hypo = 'The average time it takes to sell a home is not different for both offices'
alt_hypo_less_than = 'The average time to sell for office A is LESS than office B'
confidence_level = 0.95
a = 1 - confidence_level 
t,p = stats.ttest_ind_from_stats(mean1,std1,sample1,mean2,std2,sample2)
t,p

(-2.6252287036468456, 0.01020985244923939)

In [7]:
if (p/2) < a and t < 0:
    print(f"We reject the null hypothesis that {null_hypo}")
    print(f"We move foward with the understanding that {alt_hypo_less_than}")
else:
    print("We fail to reject the null hypothesis")
    print("There is insufficient evidence to support the claim")

We reject the null hypothesis that The average time it takes to sell a home is not different for both offices
We move foward with the understanding that The average time to sell for office A is LESS than office B

In [8]:
# - Load the mpg dataset and use it to answer the following questions:
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [9]:
# - Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
mpg['average_mpg'] = (mpg.cty + mpg.hwy)/2
mpg.average_mpg

1      23.5
2      25.0
3      25.5
4      25.5
5      21.0
       ...
230    23.5
231    25.0
232    21.0
233    22.0
234    21.5
Name: average_mpg, Length: 234, dtype: float64

In [10]:
cars_1999 = mpg[mpg.year == 1999]
cars_2008 = mpg[mpg.year == 2008]
null_hypo = 'There is no difference in average mpg between cars from 1999 and 2008'
alt_hypo = 'There is a difference in average mpg between cars from 1999 and 2008'
confidence_level = 0.95
a = 1 - confidence_level 
t,p = stats.ttest_ind(cars_1999.average_mpg, cars_2008.average_mpg)
t,p

(0.21960177245940962, 0.8263744040323578)

In [11]:
if p < a:
    print("We reject the null hypothesis that they are the same")
    print("We move forward w/ the alternative hypothesis")
else:
    print("We fail to reject the null hypothesis")

We fail to reject the null hypothesis

In [12]:
cars_1999.average_mpg.mean(), cars_2008.average_mpg.mean()

(20.22222222222222, 20.076923076923077)

In [13]:
# - Are compact cars more fuel-efficient than the average car?
null_hypo = 'Average mpg is not greater between compact cars and all cars'
alt_hypo = 'Average mpg IS greater between compact cars and all cars'
compact = mpg[mpg['class'] == 'compact']
t,p = stats.ttest_1samp(compact.average_mpg, mpg.average_mpg.mean())
t,p

(7.896888573132535, 4.1985637943171336e-10)

In [14]:
if (p/2) < a and t > 0:
    print("Reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

Reject the null hypothesis

In [15]:
compact.average_mpg.mean(), mpg.average_mpg.mean()

(24.21276595744681, 20.14957264957265)

In [16]:
# - Do manual cars get better gas mileage than automatic cars?
manual = mpg[mpg.trans.str.contains('man')]
manual.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0

In [17]:
auto = mpg[mpg.trans.str.contains('auto')]
auto.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5

In [18]:
null_hypo = 'Average mpg is not greater for manual cars than auto cars'
alt_hypo = 'Average mpg IS greater for manual cars and auto cars'
t,p = stats.ttest_ind(manual.average_mpg,auto.average_mpg)
t,p

(4.593437735750014, 7.154374401145683e-06)

In [19]:
if (p/2) < a and t > 0:
    print("Reject the null hypothesis")
else:
    print("We fail to reject the null hypothesis")

Reject the null hypothesis

In [20]:
manual.average_mpg.mean(),auto.average_mpg.mean()

(22.227272727272727, 19.130573248407643)

In [21]:
#3. Correlation
#3-1. Use the telco_churn data. Does tenure correlate with monthly charges? Total charges? 
# What happens if you control for phone and internet service?

#3-2. Use the employees database.
# - Is there a relationship between how long an employee has been with the company and their salary?
# - Is there a relationship between how long an employee has been with the company and the number of titles they have had?
#3-3.Use the sleepstudy data. Is there a relationship between days and reaction time?